<style>
     .form-wrapper{
    }

    .form-header{
        margin:0;
        padding:0;
        text-align:center;
        color:#015A3C;
        font-family: var(--font-heading-family);
        margin: 2.5rem 0;

    }

    .form-inputs{
        display:flex;
        flex-direction: column;
        gap: 2rem;
    }

    .form-inputs input{
        border: 2px solid #015A3C;
        height: 44px;
        width: 100%;
        outline: none;
        padding-inline: 1rem;
        border-radius: 8px;
         box-shadow: none!important;
    }
    .form-inputs input::placeholder{
        color: #015A3C!important;
        font-weight: 500;
        text-transform: uppercase;
    }

    .form-inputs input:active{
        box-shadow: none;
    }

    .submit-button{
        background: #015A3C;
        height: 54px;
        width: 228px;
        border: none;
        border-radius: 9px;
        color: #fff;
        margin-top: 2rem;

    }
</style>

<script src="{{ 'custom-form.js' | asset_url }}" defer="defer"></script>

<div  class="form-wrapper page-width">
    <h2 class="form-header">
        {{section.settings.headerText}}
    </h2>

    <div class="form-inputs">
        <input name="name" type="text" placeholder="name"/>
        <input name="phone" type="tel" placeholder="phone"/>
    </div>

    <button id="{{section.id}}" onclick="onSubmit()" type="submit" class="submit-button">{{section.settings.buttonText}}</button>
</div>

{% schema %}
{
  "name": "Contact Us Form",
  "tag": "section",
  "class": "contact-us-form",
  "presets": [
    {
      "name": "Merch Contact Form"
    },
    {
      "name": "Business Contact Form"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "headerText",
      "label": "Header Text"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text",
      "default": "SUBMIT"
    }
  ]
}
{% endschema %}
