{% stylesheet %}
    .form-wrapper{
        margin: 5rem 0;
    }

    .form-header{
        margin:0;
        padding:0;
        text-align:center;
        color:#015A3C;
        font-family: var(--font-heading-family);
        margin: 2.5rem 0;

    }

    .submit-button{
        background: #015A3C;
        height: 54px;
        width: 228px;
        border: none;
        border-radius: 9px;
        color: #fff;

    }
{% endstylesheet %}

<form class="form-wrapper page-width">
    <h2 class="form-header">
        {{section.settings.headerText}}
    </h2>

    <button id="{{section.id}}" type="submit" class="submit-button">{{section.settings.buttonText}}</button>
</form>

{% schema %}
{
  "name": "Contact Us Form",
  "tag": "section",
  "class": "contact-us-form",
  "presets": [
    {
      "name": "Merch Contact Form"
    },
    {
      "name": "Business Contact Form"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "headerText",
      "label": "Header Text"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text",
      "default": "SUBMIT"
    }
  ]
}
{% endschema %}
