<h1>Custom Contact Form</h1>
{% schema %}
{
  "name": "Contact Us Form",
  "tag": "section",
  "class": "contact-us-form",
  "limit": 2,
  "presets": [
    {
      "name": "Merch Form"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "headerText",
      "label": "Header Text"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text"
    }
  ]
}
{% endschema %}
