{% schema %}
{
  "name": "Custom Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "First Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Second Image"
    },
    {
      "type": "range",
      "id": "image_1_offset",
      "label": "First Image Offset",
      "default": 0,
      "min": 0,
      "max": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "image_2_offset",
      "label": "Second Image Offset",
      "default": 0,
      "min": 0,
      "max": 50,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Custom Images",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>
  .custom-images-wrapper {
  }
  .custom-image {
    position: absolute;
    transition: all 0.3s ease;
    top: 15%;
    left: 5%;
  }

  .custom-image-2 {
    width: fit-content;
    margin-left: auto;
  }
  
  .custom-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 767px) {
    .custom-image {
      position: absolute;
      transition: all 0.3s ease;
      top: 10%;
      left: -3% !important;
      width: 50%;
    }

    .custom-image-2 {
    position: absolute;
    transition: all 0.3s ease;
    top: 70% !important;
    right: 0%;
    z-index: 1;
  }

    .custom-image img {
    width: 300px;
  }
  }

  @media (max-width: 500px) {
    .custom-image-2 {
      position: absolute;
      transition: all 0.3s ease;
      top: 80% !important;
      right: 0%;
      z-index: 1;
    }
  }

    @media (max-width: 300px) {
    .custom-image-2 {
      position: absolute;
      transition: all 0.3s ease;
      top: 100% !important;
      right: 0%;
      z-index: 1;
    }
  }

</style>

<div class="custom-images-wrapper">
  <div class="custom-image">
    <img src="{{ section.settings.image_1 | img_url: 'master' }}" alt="First Image" width="50%" height="50%">
  </div>
  <div class="custom-image-2">
    <img src="{{ section.settings.image_2 | img_url: 'master' }}" alt="Second Image" width="300px" height="50%">
  </div>
</div>
