<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heading {
    color: #015a3c;
    line-height: 69px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-heading-family);
    font-size: 48px;
    width: 520px;
      font-weight:900;

  }

  .social-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
</style>

<div class="wrapper">
  <h2 class="heading">{{ section.settings.header }}</h2>

  <div class="social-items">
    {% for block in section.blocks %}
      <a href="{{block.settings.url}}">
        {{block.settings.name}}
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Follow Section",
  "tag": "section",
  "class": "follow",
  "limit": 1,
  "presets": [{ "name": "Follow section" }],
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "FOLLOW ALONG FOR UPDATES"
    }
  ],
  "blocks": [
    {
      "name": "Social Link",
      "type": "social",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
