<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
  }
  .heading {
    color: #015a3c;
    line-height: 69px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-heading-family);
    font-size: 48px;
    width: 520px;
    font-weight: 900;
    margin: 0;
    padding: 0;
  }

  .social-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .icon {
    height: 54px;
    width: 54px;
    object-fit: contain;
  }

  .name {
    font-size: 14px;
    text-transform: uppercase;
    color: #015a3c;
  }
</style>

<div class="wrapper">
  <h2 class="heading">{{ section.settings.header }}</h2>
  <div class="social-items">
    {% for block in section.blocks %}
      <a class="social-item" href="{{block.settings.url}}">
        {% if block.settings.icon != blank %}
          <img
            class="icon"
            height="54"
            width="54"
            src="{{block.settings.icon  | image_url: width: 54}}"
          >
        {% endif %}
        <p class="name">{{ block.settings.name }}</p>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Follow Section",
  "tag": "section",
  "class": "follow",
  "limit": 1,
  "presets": [{ "name": "Follow section" }],
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "FOLLOW ALONG FOR UPDATES"
    }
  ],
  "blocks": [
    {
      "name": "Social Link",
      "type": "social",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
