.banner-wrapper {
  position: relative;
  height: fit-content;
  padding-inline: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--page-width);
}

#herodateinput {
  display: none;
}

.banner-img {
  z-index: 1;
  height: auto;
  width: 100%;
  object-fit: contain;
  object-position: center;
  position: relative;
}

.banner-text-container {
  position: absolute;
  z-index: 2;
  top: 2rem;
  right: 8rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.banner-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: var(--font-body-family);
}

.banner-date {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 20.4px;
  margin: 0;
  font-family: var(--font-heading-family);
  margin-top: -8px;
}

@media screen and (max-width: 768px) {
  .banner-wrapper {
    padding-inline: 2.5rem;
  }
  .banner-text-container {
    right: 0;
    left: 0;
    padding: 0 1rem;
  }
  .banner-date {
    font-size: 1.5rem;
  }
  .banner-title {
    font-size: 1rem;
  }
}
