.banner-wrapper {
  position: relative;
  height: fit-content;
  display: flex;
}

#herodateinput {
  display: none;
}

.banner-img {
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.banner-text-container {
  position: absolute;
  z-index: 2;
  top: 2rem;
  right: 8rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  min-width: 450px;
}


.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-family: 'IntegralCF-Heavy' !important;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 768px) {
.banner-title {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-family: 'IntegralCF-Heavy' !important;
    margin: 0px;
    padding: 0px;
}
  }


.banner-date {
  color: black;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 20.4px;
  margin: 0;
  font-family: var(--font-heading-family);
  margin-top: -8px;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .banner-wrapper {
    padding-inline: 2.5rem;
  }
  .banner-text-container {
    right: 0;
    left: 0;
    padding: 0 1rem;
    min-width: fit-content;
  }
  .banner-date {
    font-size: 1.4rem;
  }
  .banner-title {
    font-size: 1rem;
  }
}
