.product-quantity-wrapper{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.size-select{
    border: 3px solid #015A3C;
    border-radius: 9px;
    height: 48px;
    min-height: 48px;
    flex: 1;
    text-transform: uppercase;
    padding-inline: 4px;
    color: #015A3C;
    background-color: transparent!important;
}

.quantity-wrapper {
    border: 3px solid #015A3C;
    border-radius: 9px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.quantity-wrapper input{
    border: none;
    background: none;
    color: #015A3C;
    caret-color: #015A3C;
    width: fit-content;
    outline: none;
    min-width: 30px;
    max-width: 34px;
    text-align: center;
    padding-left: 4px;
}

.quantity-wrapper button {
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    color: #015A3C;
    width: 30px;
}